body {
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;     
}
p {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: 0 0 16px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.allover {
    background-color: red;
    height: 500px;
    width: 500px;
    padding: 25px;
    position: relative;

 }   
.display {
    height: 25%;
    background-color: yellow;
    font-size: 50px;
    display: flex;
    align-items: last baseline;
 }
 
.buttons {
    display: flex;
    flex-wrap: wrap;
    

}

.numbers {
 display: flex;
 flex-wrap: wrap;
 width: 270px;
 margin-top: 10px;

}
.numbers > button {
    height: 80px;
    width: 80px;
    border: solid 2px black;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 30px;
}

.numbers > button:hover {
    background-color: lightgray;
    cursor: pointer;
    
    
}

.numbers > button:active {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    
    
}
.operators {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 90px;
}
.operators > button {
     height: 80px;
    width: 80px;
    border: solid 2px black;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 40px;

}
.operators > button:hover {
    background-color: lightgray;
    cursor: pointer;
    
    
}

.operators > button:active {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    
    
}

.operations {
     margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    flex-direction: column;

}

.operations > button {
    height: 80px;
    width: 150px;
    border: solid 2px black;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 40px;
    
}
.operations > button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.operations > button:active {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

